@use "../../styles/colors";




.container {
  margin-top: 75px !important;

}


.grid {
  // display: flex !important;
  // justify-content: space-between;
  padding: 45px 0px;
}



.select{
  
  width: 150px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

}

