@use "../../styles/colors";


.profile-collection{
 
  display: flex !important;
  // // max-width: 1000px;
  // background-color: aquamarine;
  // align-items: right !important;
  margin-bottom: 140px;


  
}

.grid {
  padding-bottom: 20px ;
}

.cards{
  display: flex !important;
  justify-content: center !important;
  // background-color: aqua;
}