@use "../../styles/colors";

.container {
  display: flex !important;
  background-color: rgba(colors.$primary_main, 0.05) !important;
  

}

.grid {
  display: flex !important;
  min-height: 70px;

   
}
.darkerNum {
  display: flex !important;
  align-items: center;
  place-content: center;
  
  background-color: rgba(colors.$primary_main, 0.2) !important;
  // border-radius: 15px 0px 0px 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px !important;
}

.lighterNum {
  display: flex !important;
  align-items: center;
  place-content: center;
  
  background-color: rgba(colors.$primary_main, 0.3) !important;
  // border-radius: 15px 0px 0px 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px !important;
}

.darkerUser {
  display: flex !important;
  align-items: center;
  place-content: left;
  padding-left: 16px;  
  background-color: rgba(colors.$primary_main, 0.1) ;
  // border-radius: 0px 15px 15px 0px;
 
}

.lighterUser {
  display: flex !important;
  align-items: center;
  place-content: left;
  padding-left: 16px;  
  background-color: rgba(colors.$primary_main, 0.2) ;
  // border-radius: 0px 15px 15px 0px;
  
}