@use "../../styles/colors";


.hero {
  background: colors.$primary_main;
  display: flex !important;
  min-height: 322px !important;
  align-items: center;
  justify-content: center;
  width:100%
}

.text {
  // background-color: black;
  color: colors.$text_primary;
  text-transform: uppercase;

}