@use "../../styles/colors";


.card {
  padding: 1rem;
  
}

.media{
  // object-fit: contain;
  border-radius: 15px;
 
}

.title{
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  float: left;
  color: colors.$text_primary;
}

.price{
  font-style: normal;
  font-weight: 700;
  font-size: 14.0752px;
  line-height: 17px;
  // text-transform: capitalize;
  color: colors.$secondary_main;

}

.likes {
  color: colors.$secondary_main;
}

