@use "../../styles/colors";

.product-info-timer{
  
  background-color: colors.$secondary_main !important;
  max-width: 600px;
  border-radius: 15px !important;
  overflow: hidden;
}


.grid{
  background-color: rgba(colors.$secondary_main, 90%);

}
.title{
  
  background-color: rgba(colors.$background_default, 0.1) !important;
  display: flex !important;
  padding:10px 0px 5px 0px;
  font-size: 12px !important;
  justify-content: center !important;
  color:colors.$background_default;

}


.timer{
  display: flex !important;
  // background-color: rgba(colors.$primary_main, 0.05) !important;
  // border-radius: 15px 15px 15px 15px
  font-size: 30px !important;
  justify-content: center !important;
  min-height: 99px;
  align-items: center!important;
  background-color: colors.$background_paper;
  color:colors.$background_paper;

}


.active{
  background-color: colors.$secondary_main !important;

  display: flex !important;

  font-size: 30px !important;
  justify-content: center !important;
  min-height: 99px;
  align-items: center!important;
  color:colors.$background_paper;

}

