@use "../../styles/colors";

.product-tabs{

justify-content: space-between!important;
  max-width: 600px;

}

.title-line{
  padding-top: 28px;
  border-bottom: 3px solid colors.$primary_main;
  // margin-bottom: 10px;
  margin-bottom: 12px;
}

.bigstack{
  display: flex !important;
  justify-content: space-between !important;
  padding-bottom: 24px;



}

.stats{
  width: 100%;
  display: flex !important;
  justify-content: space-between !important;
  padding-bottom: 12px;

}


