@use "../../styles/colors";

.product-tabs {

  justify-content: space-between !important;
  max-width: 600px;
  width: 100% !important;

}

.tabs-line {
  padding-top: 28px;

  border-bottom: 3px solid rgba(colors.$primary_main, 0.1);
  // margin-bottom: 10px;
  margin-bottom: 0px;
}


.tab-details {
  padding-top: 0px !important;


  
}

.tab-bids {
  padding-top: 0px !important;
  // display: flex !important;
  // // background-color: aqua;
  // padding: 0px !important;
}

// .table-row {
//   &-0 {
//     background-color: rgba(colors.$primary_main, 0.05);
//   }
//   &-1 {
//     background-color: rgba(colors.$primary_main, 0.15);
//   }
// }

@for $i from 0 through 25 {
.table-row {
    &-#{$i} {
      background-color: if($i % 2 == 0, rgba(colors.$primary_main, 0.05), rgba(colors.$primary_main, 0.15));
    }
  }
}


.table-cell {
  border-bottom: 0px !important;
}

.table-cell-price {
  border-bottom: 0px !important;
  color: colors.$secondary_main !important;
}