@use "../../styles/colors";


.explore-filters {

  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;



}

.form {
  // display: flex !important;

  // background-color: aqua;
  min-width: 220px !important;

}



.icon {
  color: colors.$text_primary;
}

.textField {

  background-color: colors.$background_paper;
  border-radius: 30px;
  min-width: 340px !important;
  justify-content: center;
  padding-left: 10px !important;

}

