@use "../../styles/colors";


.container {
  background: colors.$background_paper ;
  height:98px;
  // place-content: center !important;
  // vertical-align: center !important;
  // align-items: center !important;

  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: center !important;
  display: flex !important;
}
.logo{
  height: 65% !important;
  // flex-basis: 7%  !important;
  padding-left: 30px !important;
}

.paragraph {
  color: colors.$text_disabled !important;
  text-align: center;
  padding: 20px;
  text-transform: unset !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 17px !important;
  
}

.button {
  color: colors.$text_secondary !important;
  // padding: 20px;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 17px !important;
  text-transform: unset !important;
  }

  .wrapper {
    padding: 100px;
    background-color: colors.$primary_main;
  }