@use "../../styles/colors";


.container {
  height:98px;
  background: colors.$background_paper  ;
  color: colors.$text_primary;
}

.button {
  color: colors.$text_primary;
  padding: 20px;
}

.search {
  background: colors.$background_default !important ;
  color: colors.$text_primary;
}

