@use "../../styles/colors";


.container {
 
  background: colors.$background_paper  ;
}

.paragraph{
  color: colors.$text_secondary !important;
  text-align: center;
  padding:20px
}

.button {
  color:colors.$text_secondary !important;
  padding: 20px;
}

