@use "../../styles/colors";


.wrapper {

  
  // height:100vh;
  display:grid;
  justify-content: center;

  
}

.grid{
  background-color: colors.$primary_main;
  align-items: center !important;
  justify-content: space-around;
  
  height:90% !important;
  position: relative;
  
  
  
}

.container {
  position:relative;
  height:100%;
  // background-color: aquamarine;

 

}

.gridRight{
  position:relative;
  top:-5%;
  justify-content: center!important;
  align-items: center !important;
  // background-color: aqua;
 
}


.gridLeft{
  // padding: 20px !important;
  justify-content: center !important;
  align-items: center !important;
   
}

.textTitle{
  color: colors.$text_primary;
  font-weight: 900 !important;
  font-size: 60px !important;
}

.textDescription{
  color: colors.$text_primary;
  font-weight: 400 !important;
  font-size: 16px !important; 
  padding-left: 20%;
  padding-right:25%
}

.button{
  margin-top: 5% !important;
  background: colors.$text_primary !important;
  color: colors.$primary_main !important;
}




