@use "../../styles/colors";


.wrapper {

  background-color: colors.$primary_main;
  height: 90% !important;
  align-items: center;
  justify-content: center;
  


}
.container {
  background: green ;

  padding-right:0 !important
 

}


.gridLeft{
  // padding: 20px;
  justify-content:"flex-end" !important;
 
  
}




