@use "../../styles/colors";

.heading{
 
  padding:30px;

  
}

.wrapper {

  background-color: colors.$primary_main;
 
  align-items: center;
  justify-content: center;
  


}
.container {
  
 padding: 0px !important;
  // align-items: center;

  
  

 
  
  background: green ;
 

}



.grid {
  // padding: 20px;
  right:0;
  position: relative;
}




