@use "../../styles/colors";

.heading{
 
  padding:30px;
}
.container {
  
  background: colors.$background_default ;
  display: flex !important;
  align-items: center;
  justify-content: center;


}

.grid {
  padding: 20px;
}


.search {
  background: colors.$background_default  ;
  color: colors.$text_primary;
}

.select{
  position:absolute;
  width: 150px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  top:0%;
  right:0%;
 
}

