@use "../../styles/colors";


.grid {
  // display: flex !important;
  // justify-content: space-between;
  padding: 20px 0px;
}



.select{
  
  width: 150px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

}

